body {
	margin: 0;
	background-color: #222;
	color: white;
	color-scheme: dark;
	overflow-y: hidden;
}

/* stylelint-disable-next-line selector-id-pattern */
html,
body,
#__next,
canvas {
	width: 100%;
	height: 100%;
}
